<h2>Burgers Have Been Eaten!</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
          {{ burger_name }}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Burgers To Be Eaten!</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
          {{ burger_name }}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<form action="/api/burgers" method="POST">
    <input name="burger_name"></input>
    <button class="btn" type="submit">Devour It</button>
</form>

<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>


